trigger: none
pool:
  vmImage: ubuntu-20.04

parameters:
  - name: env
    displayName: Environment
    type: string
    values:
      - apidev
      - etldev
      - sit
      - uat
      - prod
  - name: costCenter
    displayName: "Tag: Cost Center"
    type: string
    default: "7IT"
    values:
      - 7IT
  - name: project
    displayName: "Tag: Project"
    type: string
    default: "SWM Integration"
  - name: role
    displayName: "Tag: Role"
    type: string
    default: "Azure DevOps pipeline"
  - name: repository
    displayName: "Tag: Repository"
    type: string
    default: "SWM Integration"
  - name: criticality
    displayName: "Tag: Criticality"
    type: string
    default: "Critical"
    values:
      - Critical
      - High
      - Medium
      - Low
  - name: pii
    displayName: "Tag: PII"
    type: string
    default: "no"
    values:
      - yes
      - no
  - name: securityClassification
    displayName: "Tag: Security Classification"
    type: string
    default: "Critical"
    values:
      - Critical
      - High
      - Medium
      - Low

variables:
  - name: serviceConnection
    ${{ if in(parameters.env, 'apidev', 'etldev') }}:
      value: AwsDev
    ${{ elseif in(parameters.env, 'uat', 'sit') }}:
      value: AwsNonProd
    ${{ elseif in(parameters.env, 'prod') }}:
      value: AwsProd
  - name: region
    value: ap-southeast-2

stages:
  - stage: kms
    displayName: KMS
    jobs:
      - job: cfn
        displayName: Cloud Formation
        steps:
          - task: CloudFormationCreateOrUpdateStack@1
            inputs:
              awsCredentials: ${{ variables.serviceConnection }}
              regionName: ${{ variables.region }}
              stackName: ${{ parameters.env }}-kms
              capabilityIAM: true
              capabilityNamedIAM: true
              capabilityAutoExpand: true
              templateFile: cfn/templates/platform/environment-kms.yaml
              templateParametersSource: inline
              templateParameters: |
                - ParameterKey: EnvPrefix
                  ParameterValue: ${{ parameters.env }}
              tags: |
                CostCenter=${{ parameters.costCenter }}
                Environment=${{ parameters.env }}
                IACReleaseNumber=$(Build.SourceVersion)
                LastUpdatedBy=$(Build.QueuedBy)
                Project=${{ parameters.project }}
                Role=${{ parameters.role }}
                Repository=${{ parameters.repository }}
                Criticality=${{ parameters.criticality }}
                PII=${{ parameters.pii }}
                SecurityClassification=${{ parameters.securityClassification }}

  - stage: s3
    displayName: S3
    jobs:
      - job: cfn
        displayName: Cloud Formation
        steps:
          - task: CloudFormationCreateOrUpdateStack@1
            inputs:
              awsCredentials: ${{ variables.serviceConnection }}
              regionName: ${{ variables.region }}
              stackName: ${{ parameters.env }}-s3
              capabilityIAM: true
              capabilityNamedIAM: true
              capabilityAutoExpand: true
              templateFile: cfn/templates/platform/environment-s3.yaml
              templateParametersSource: inline
              templateParameters: |
                - ParameterKey: EnvPrefix
                  ParameterValue: ${{ parameters.env }}
              tags: |
                CostCenter=${{ parameters.costCenter }}
                Environment=${{ parameters.env }}
                IACReleaseNumber=$(Build.SourceVersion)
                LastUpdatedBy=$(Build.QueuedBy)
                Project=${{ parameters.project }}
                Role=${{ parameters.role }}
                Repository=${{ parameters.repository }}
                Criticality=${{ parameters.criticality }}
                PII=${{ parameters.pii }}
                SecurityClassification=${{ parameters.securityClassification }}

  # TODO - deprecate env level ECR and replace with ECRs within integration pipelines if possible
  - stage: ecr
    displayName: ECR
    jobs:
      - job: cfn
        displayName: Cloud Formation
        steps:
          - task: CloudFormationCreateOrUpdateStack@1
            inputs:
              awsCredentials: ${{ variables.serviceConnection }}
              regionName: ${{ variables.region }}
              stackName: ${{ parameters.env }}-ecr
              capabilityIAM: true
              capabilityNamedIAM: true
              capabilityAutoExpand: true
              templateFile: cfn/templates/platform/environment-ecr.yaml
              templateParametersSource: inline
              templateParameters: |
                - ParameterKey: EnvPrefix
                  ParameterValue: ${{ parameters.env }}
              tags: |
                CostCenter=${{ parameters.costCenter }}
                Environment=${{ parameters.env }}
                IACReleaseNumber=$(Build.SourceVersion)
                LastUpdatedBy=$(Build.QueuedBy)
                Project=${{ parameters.project }}
                Role=${{ parameters.role }}
                Repository=${{ parameters.repository }}
                Criticality=${{ parameters.criticality }}
                PII=${{ parameters.pii }}
                SecurityClassification=${{ parameters.securityClassification }}

  # TODO - review potential usage of this table and determine if it should be in the sf-to-dw stack only
  - stage: dynamodb
    displayName: DynamoDB
    jobs:
      - job: cfn
        displayName: Cloud Formation
        steps:
          - task: CloudFormationCreateOrUpdateStack@1
            inputs:
              awsCredentials: ${{ variables.serviceConnection }}
              regionName: ${{ variables.region }}
              stackName: ${{ parameters.env }}-dynamodb
              capabilityIAM: true
              capabilityNamedIAM: true
              capabilityAutoExpand: true
              templateFile: cfn/templates/platform/environment-dynamodb.yaml
              templateParametersSource: inline
              templateParameters: |
                - ParameterKey: EnvPrefix
                  ParameterValue: ${{ parameters.env }}
              tags: |
                CostCenter=${{ parameters.costCenter }}
                Environment=${{ parameters.env }}
                IACReleaseNumber=$(Build.SourceVersion)
                LastUpdatedBy=$(Build.QueuedBy)
                Project=${{ parameters.project }}
                Role=${{ parameters.role }}
                Repository=${{ parameters.repository }}
                Criticality=${{ parameters.criticality }}
                PII=${{ parameters.pii }}
                SecurityClassification=${{ parameters.securityClassification }}

  - stage: eventbridge
    displayName: Event Bridge
    jobs:
      - job: cfn
        displayName: Cloud Formation
        steps:
          - task: CloudFormationCreateOrUpdateStack@1
            inputs:
              awsCredentials: ${{ variables.serviceConnection }}
              regionName: ${{ variables.region }}
              stackName: ${{ parameters.env }}-eventbridge
              capabilityIAM: true
              capabilityNamedIAM: true
              capabilityAutoExpand: true
              templateFile: cfn/templates/platform/environment-eventbridge.yaml
              templateParametersSource: inline
              templateParameters: |
                - ParameterKey: EnvPrefix
                  ParameterValue: ${{ parameters.env }}
              tags: |
                CostCenter=${{ parameters.costCenter }}
                Environment=${{ parameters.env }}
                IACReleaseNumber=$(Build.SourceVersion)
                LastUpdatedBy=$(Build.QueuedBy)
                Project=${{ parameters.project }}
                Role=${{ parameters.role }}
                Repository=${{ parameters.repository }}
                Criticality=${{ parameters.criticality }}
                PII=${{ parameters.pii }}
                SecurityClassification=${{ parameters.securityClassification }}