AWSTemplateFormatVersion: "2010-09-09"

Description: This stack contains all the KMS keys used by AWS services

Parameters:
  EnvPrefix:
    Type: String
    Description: Environment Name as Prefix

Resources:
  S3Key:
    Type: AWS::KMS::Key
    Properties:
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            AWS: !Sub 'arn:aws:iam::${AWS::AccountId}:root'
          Action: 'kms:*'
          Resource: '*'

  S3KeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${EnvPrefix}-s3
      TargetKeyId: !Ref S3Key

  S3KeyArn:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub /kms/arn/${EnvPrefix}-s3
      Type: String
      Value: !GetAtt S3Key.Arn

  EcrKey:
    Type: AWS::KMS::Key
    Properties:
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            AWS: !Sub 'arn:aws:iam::${AWS::AccountId}:root'
          Action: 'kms:*'
          Resource: '*'

  EcrKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${EnvPrefix}-ecr
      TargetKeyId: !Ref EcrKey