trigger: none
pool:
  vmImage: ubuntu-20.04

parameters:
  - name: stack
    displayName: Stack
    type: string
    values:
      - platform/environment-ecr
      - platform/environment-kms
      - platform/environment-s3
      - platform/environment-sftpUsers
      - platform/environment-dynamodb
      - platform/environment-salesforceS3
  - name: env
    displayName: Environment
    type: string
    values:
      - apidev
      - etldev
  - name: costCenter
    displayName: "Tag: Cost Center"
    type: string
    default: "7IT"
    values:
      - 7IT
  - name: project
    displayName: "Tag: Project"
    type: string
    default: "SWM Integration"
  - name: role
    displayName: "Tag: Role"
    type: string
    default: "Azure DevOps pipeline"
  - name: repository
    displayName: "Tag: Repository"
    type: string
    default: "SWM Integration"
  - name: criticality
    displayName: "Tag: Criticality"
    type: string
    default: "Critical"
    values:
      - Critical
      - High
      - Medium
      - Low
  - name: pii
    displayName: "Tag: PII"
    type: string
    default: "no"
    values:
      - yes
      - no
  - name: securityClassification
    displayName: "Tag: Security Classification"
    type: string
    default: "Critical"
    values:
      - Critical
      - High
      - Medium
      - Low

variables:
  - name: serviceConnection
    ${{ if in(parameters.env, 'apidev', 'etldev') }}:
      value: AwsDev
    ${{ elseif in(parameters.env, 'uat', 'sit') }}:
      value: AwsNonProd
    ${{ elseif in(parameters.env, 'prod') }}:
      value: AwsProd
  - name: stackName
    value: ${{ replace(replace(parameters.stack, 'environment', parameters.env), '/', '-') }}
  - name: region
    value: ap-southeast-2

steps:
  - task: CloudFormationCreateOrUpdateStack@1
    inputs:
      awsCredentials: ${{ variables.serviceConnection }}
      regionName: ${{ variables.region }}
      stackName: ${{ variables.stackName }}
      capabilityIAM: true
      capabilityNamedIAM: true
      capabilityAutoExpand: true
      templateFile: cfn/templates/${{ parameters.stack }}.yaml
      templateParametersSource: inline
      templateParameters: |
        - ParameterKey: EnvPrefix
          ParameterValue: ${{ parameters.env }}
      tags: |
        CostCenter=${{ parameters.costCenter }}
        Environment=${{ parameters.env }}
        IACReleaseNumber=$(Build.SourceVersion)
        LastUpdatedBy=$(Build.QueuedBy)
        Project=${{ parameters.project }}
        Role=${{ parameters.role }}
        Repository=${{ parameters.repository }}
        Criticality=${{ parameters.criticality }}
        PII=${{ parameters.pii }}
        SecurityClassification=${{ parameters.securityClassification }}
